/*-------------------------------------------------------------*/

@font-face {
	font-family: Anurati;
	src: url("../fonts/anurati_font/Anurati-Regular.otf");
  }

  @font-face {
	font-family: Blanka;
	src: url("../fonts/blanka/Blanka-Regular.otf");
  }

  @font-face {
	font-family: Chronic;
	src: url("../fonts/chronic/Chronic-Normal.otf");
  }

  @font-face {
	font-family: Chronic02;
	src: url("../fonts/chronic/Chronic-Outline.otf");
  }

  @font-face {
	font-family: Ailerons;
	src: url("../fonts/ailerons/Ailerons-Regular.otf");
  }

  @font-face {
	font-family: Ailerons2;
	src: url("../fonts/ailerons/Ailerons.otf");
  }
/*-------------------------------------------------------------*/

@media only screen and (max-width: 800px) {
	div.navbar {
		 float: left;
		 width: 40%;
		 display: none;
		 
	}
	.aside{
		display: block;
	}
	div.container,footer{
		width: 60%;
		float: right;
	}

}
/*-------------------------------------------------------------*/
.aside{
	height: auto;
	position: sticky;
	top: 0;
	position: -webkit-sticky;
	z-index: 1;
	overflow: hidden;
	display: none;
}
.navbar{
	height: auto;
	position: sticky;
	top: 0;
	position: -webkit-sticky;
	z-index: 1;
	overflow: hidden;
}

.navbar ul{
	background-color: hotpink;
	list-style-type: none;

	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0.3%;
	padding-bottom: 0.8%;

	overflow: hidden;
	
	box-shadow: 0px 0px 15px black;
}

.navbar .active {
	background-color: blueviolet;
}

.navbar ul li{
	box-sizing: border-box;
	border: solid black;
	outline-color: black;
	outline-width: 2px;
	outline-style: solid;

	margin-right: 1.1%;
	margin-left: 1.1%;
	margin-top: 0.8%;
	margin-top: 0.8%;

	background-color: black;
	float: left;
	text-align: center;
	width: 12%;
	padding: 0.5% 0%;
	overflow: hidden;	
}

.navbar li {
	color: white;	
	font-size: 3vh;
	text-decoration: none;
	font-family: Ailerons, Georgia, 'Times New Roman', Times, serif;
}

.navbar ul li:hover{
	box-sizing: border-box;
	border: solid #99ffff;
	outline-color: #99ffff;
	outline-width: 2px;
	outline-style: solid;
	text-shadow: 2px 2px 4px lightskyblue;
}

.navbar ul li:active{
	background-color: lightskyblue;
}


/*-------------------------------------------------------------*/

header {
	-webkit-animation: color_change 5s infinite alternate;
	-moz-animation: color_change 5s infinite alternate;
	-ms-animation: color_change 5s infinite alternate;
	-o-animation: color_change 5s infinite alternate;
	animation: color_change 5s infinite alternate;
	animation-name: color_change;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	
	padding-top: 20px;
	padding-bottom: 1px;
	margin-bottom: 0px;
	margin-top: 10px;
}

@-webkit-keyframes color_change {
	from { background-color: hotpink; }
	to { background-color: pink; }
}
@-moz-keyframes color_change {
	from { background-color: hotpink; }
	to { background-color: pink; }
}
@-ms-keyframes color_change {
	from { background-color: hotpink; }
	to { background-color: pink; }
}
@-o-keyframes color_change {
	from { background-color: hotpink; }
	to { background-color: pink; }
}
@keyframes color_change {
	from { background-color: hotpink; }
	to { background-color: pink; }
}

.banner {
    display: block;
	
	min-width: 50%;
    max-width: 100%;
	
	margin-left: auto;
    margin-right: auto;
	margin-top: 0;
	margin-bottom: 25px;

	text-align: center;
	color: white;
	font-family: Ailerons, Georgia, 'Times New Roman', Times, serif;
	font-size: 6.5vh;
	
	position: relative;
}

/*-------------------------------------------------------------*/

body {
	background-color: black;
	font-family: Tahoma, Geneva, sans-serif;
}

img {
	border-radius: 25px;
}

video {
	border-radius: 25px;
}

li {
	font-size: 20px;
	font-size-adjust: unset;
	font-family: Tahoma, Geneva, sans-serif;
}

/*-------------------------------------------------------------*/

.container {
    width: 100%;
	height: auto;
	
	margin-right: auto;
	margin-left: auto;

	box-sizing: border-box;
	border: 5px solid lightpink;

	padding-right: 4%;
	padding-left: 2%;
	padding-top: 0;
	padding-bottom:3%;

	text-align: justify;
	overflow: hidden;

	background-color: white;
}

.one {
    width: 15%;
    height: auto;
	float: left;
	margin-right: 2%;
}

.two {
    margin-left: 15%;
    height: auto;
}

/*-------------------------------------------------------------*/
.select,
.intro_nadpis {
	text-shadow: 3px 3px 3px lightskyblue;
	font-family: Ailerons, Georgia, 'Times New Roman', Times, serif;
	font-size: 5.5vh;
}

.select {
	text-shadow: 3px 3px 3px rgb(48, 48, 48);
	color: rgba(161, 161, 161, 50);
}

p {
	font-size: 20px;
	font-size-adjust: unset;
}

/*-------------------------------------------------------------*/

#uvodna_fotka{
	width: 15%;
	height: auto;
	float:left;
	margin-right: 2%;
}

#cod{
	width: 50%;
	max-width: 800px;
	height: auto;
	float: right;
	margin-left: 2%;
}

#kamera{
	width: 25%;
	max-width: 400px;
	height: auto;
	float: right;
	margin-left: 2%;
}

#parametre{
	width: 20%;
	height: auto;
	float: right;
	margin-left: auto;
	margin-right: 7%;
	margin-top: 10%;
	margin-bottom: 0;
}

/*-------------------------------------------------------------*/

#vlajka02,
#vlajka01 {
	width: 4%;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	float: right;
	z-index: 0;
}

#vlajka02 {
	margin-right: 0.3%;
}

/*-------------------------------------------------------------*/

#pris_powerbanka,
#pris_sluchadla,
#pris_puzdro,
#pris_nabijacka{
	float: right;
	width: 20%;
	margin-top: 2%;
	margin-left: 2%;
	border-radius: 0%;
}

/*-------------------------------------------------------------*/

table{
	margin-top: 2%;
	table-layout: fixed;
	width: 100%;
	text-align: left;
}

th, td {
	font-size: 1.5vw;
	font-size-adjust: unset;
	overflow: hidden;
	padding: 1%;
	vertical-align: middle;

}

.f_riadok {
	background-color: lightpink;
}

.f_riadok2 {
	background-color:  rgb(255, 183, 88);
}

.stred {
	background-color: white;
}

/*-------------------------------------------------------------*/

.mobil1 {
	width: 47.5%;
	float: left;
	overflow: hidden;
}

.mobil2 {
	width: 47.5%;
	float: right;
	margin-left: 2%;
	overflow: hidden;
}

.mobil1 img{
	width: 35%;
	height: auto;
	float: left;
    margin-right: 20%;
	margin-left: 30%;
	margin-top: 1%;

	overflow: hidden;

	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.mobil2 img{
	width: 35%;
	height: auto;
	float: left;
    margin-right: 20%;
    margin-left: 30%;

	overflow: hidden;

	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*-------------------------------------------------------------*/

.dropbtn {
	cursor: pointer;
  }
  
.dropdown {
  
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	width: 50vh;;
	background-color: rgba(214, 209, 209, 0.932);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {
  background-color: rgba(136, 124, 124, 0.2)
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
  
  }
  
/*-------------------------------------------------------------*/

.navigacia_prislusenstvo {
	float: left;
	width: 35%;
	margin-right: 5%;
	margin-top: 2%;
}

.navigacia_prislusenstvo ul{
	width: 100%;
	list-style-type: none;
	text-align: center;
	padding: 0%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

.navigacia_prislusenstvo li{
	box-sizing: border-box;
	border: solid black;
	outline-color: black;
	outline-width: 2px;
	outline-style: solid;

	width: 100%;
	background-color: black;
	color: white;
	font-size: 3vh;
	text-decoration: none;
	font-family: Ailerons, Georgia, 'Times New Roman', Times, serif;
	list-style-type: none;
	text-align: center;
	padding: 3%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}

.navigacia_prislusenstvo .active {
	background-color: rgb(180, 118, 238);
}

.navigacia_prislusenstvo li:hover{
	box-sizing: border-box;
	border: solid rgb(255, 170, 58);
	outline-color: rgb(255, 170, 58);
	outline-width: 2px;
	outline-style: solid;
	text-shadow: 2px 2px 4px rgb(255, 170, 58);
}

.navigacia_prislusenstvo a {
	text-decoration: none;
}

.text_prislusenstvo {
	margin-top: 2.3%;
}

.navigacia_prislusenstvo .link {
	background-color: rgb(255, 162, 56);
	margin-top: 15%;

}

/*-------------------------------------------------------------*/

.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	height: auto;
  }

.item {
	margin: 2%;
	width:15%;
}

.item audio{
	width:100%;
	margin-top:1.15%;
}

/*-------------------------------------------------------------*/

footer{

	color: gray;

	/*border: solid black;*/
	box-sizing: border-box;

	display: block;
	min-width: 100%;
    max-width: 67%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


