header {
  background-image: url("obr/header.png");
  background-repeat: round ;
  background-attachment: scroll;

  border-color: pink;
  border-width: 5px;
  border-style: solid;
  
  text-align: center;
}

.telo {
  border-color: pink;
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  
  background-color: black;
}