body {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
}
header {
	font-weight: 750;
	background-image: url('obrazky/logo.png');
	background-repeat: no-repeat;
	background-position: right top; 
	background-color:rgb(39, 39, 39);
}
h1 {
	font-weight: 750;
	color:black;
	font-style: italic;
	margin: 0;
}
nav {
	background-color:green;
	font-size: 120%;
}
nav a {
	color: black;
	font-weight: bold;
	text-decoration: none;
	padding: 0 1.5em;
}
nav a:hover {
	color: #ff5757;
	background-color: rgb(0, 0, 0);
}
section {
	background-color: rgb(46, 46, 46);
}
section a {
	color: #9F0000;
	font-weight: bold;
}
section, aside {
	padding: 1%;
}
footer {
	color: #CCCCCC;
	background-color: black;
	text-align: center;
	font-size: 0.7em;
}
figure {
	background-color: black;
	text-align: center;
	border: 15px solid rgb(73, 255, 2);
}
figcaption {
	font-style: italic;
	font-weight: black;
}
figure em {
	font-weight: black;
}
aside {
	background-color: black;
	border: 3px double #CCCCCC;
	margin: 2%;
	border-radius: 10px;
}
aside p {
	background-color: black;
}
aside em {
	background-color: black;
}
#o_nakupe div {
	background-color: black;
  background: -webkit-linear-gradient(-10deg, #E6E6E6 0%, #999 30%, #E6E6E6 60%, #666666 100%);
  background: -o-linear-gradient(-10deg, #E6E6E6 0%, #999 30%, #E6E6E6 60%, #666666 100%);
  background: -moz-linear-gradient(-10deg, #E6E6E6 0%, #999 30%, #E6E6E6 60%, #666666 100%);
	background: linear-gradient(-10deg, #E6E6E6 0%, #999 30%, #E6E6E6 60%, #666666 100%);
}
h2 {
	margin: 0;
}
section figure:hover {
	background-color: rgba(30, 255, 0, 0.5);
	border: 15px inset #CCCCCC;
}
.akcia {
	color: #FF0000;
	font-size: 1.5em;
}
#o_nakupe {
	background-color: #CCCCCC;
	padding: 1em;
}
section ol li li {
	font-style: italic;
}
section table {
	border-collapse: separate;
	border-spacing: 5px 1em;
	border: 5px double #999;
	background-color: black;
	empty-cells: hide;
	margin: auto;
}
section th, section td {
	border: 1px solid black;
	padding: 0.5em;
}
section table tr:nth-child(odd) {
	background-color: orangered;
}
section table tr:first-child th {
	background-color: gold;
	border-bottom: 5px solid black;
}
section table tr th:first-child {
	background-color: plum;
	border-right: 5px solid black;
	border-bottom-width: 1px;
}
section table tr:first-child th:first-child {
	background-color: #CCCCCC;
	border-right: 5px solid black;
	border-bottom-width: 1px;
	border-right-width: 1px;
}
div {
background-color: black; 
}