/*-------------------------------------------------------------*/

#nazor {
    width:100%;
    min-height: 300px;
    margin-bottom: 2%;
}

fieldset{
    padding: 2.5%;
}

input{
    padding: 5px;
    width: 15%;
}

#odoslat{
    background-color: rgba(195, 218, 240, 0.788);
    width: 100%;
    color: black;
    font-family: Ailerons, Georgia, 'Times New Roman', Times, serif;
    font-size: 3vh;
    padding: 1%;
}

#odoslat:hover{
    background-color: rgb(255, 147, 58);
}
/*-------------------------------------------------------------*/