*{
	box-sizing: border-box;
}

/*-------------------------------------------------------------------------------*/

#flex{
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
	padding-top: 0%;
	margin-top: 2%;
	margin-bottom: 0%;
}

/*-------------------------------------------------------------------------------*/

#oblaky{
	width:70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}

/*-------------------------------------------------------------------------------*/

#r01{
	width:100%;
	margin-top:2%;
	overflow: hidden;
}

#r01 .c01 img{
	width: 23%;
	float:left;
	margin-right: 1.5%;
}

#r01 .c02 img{
	width: 75.5%;
	float:right;
}

/*-------------------------------------------------------------------------------*/

#r02{
	width:100%;
	margin-top:5%;
	overflow: hidden;
}

#r02 .c01 img{
	width: 50%;
	float:left;
	margin-right: 1%;
}

#r02 .c02 img{
	width: 49%;
	float:right;
}

/*-------------------------------------------------------------------------------*/

#r03{
	width:100%;
	margin-top:5%;
	overflow: hidden;
}

#r03 .c01 img{
	width: 74%;
	float:left;
	margin-right: 1.5%;
}

#r03 .c02 img{
	width: 23.5%;
	float:right;
}

/*-------------------------------------------------------------------------------*/

#r04{
	width:100%;
	margin-top:5%;
	overflow: hidden;
}

#r04 .c01 img{
	width: 51.5%;
	float:left;
	margin-right: 1%;
}

#r04 .c02 img{
	width: 23%;
}

/*-------------------------------------------------------------------------------*/

#r05{
	width:100%;
	margin-top:5%;
	margin-bottom: 0%;
	overflow: hidden;
}

#r05 .c01 img{
	width: 49%;
	float:left;
	margin-right: 1%;
}

#r05 .c02 img{
	width: 49%;
	float:right;
}