header, nav, section, article, div, aside, footer, main { 
    border: 1px solid black; 
    margin: 10px; 
}

.ponuka {
    background-color: pink;
    color: darkblue;
}

table, th, td, figure { 
    border: 1px solid black; 
    margin: 10px; 
}

#platba {
    background-image: linear-gradient(to bottom right, gray, white, gray);
}