canvas {
    border: 3px solid #1add00;
    background-color: #4b4b4b;

    padding-left: 0;
    padding-right: 0;

    margin-left: 500px;
    margin-top: 150px;
    /*margin-right: 20%;*/

    display: block;

    width: 650px;
    height: 400px;

}
html {
    background-color: black;
    background-image: url("../assets/pictures/octo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:white;
}
